/* Infernal Blood Static Theme */
@define-color accent     #d33637;
@define-color main-bg    #0c0c0c;
@define-color main-fg    #ac7e7c;
@define-color hover-bg   #611a1c;
@define-color outline    #351212;

* {
    border: none;
    border-radius: 0;
    font-family: "SpaceMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @outline;
    color: @main-fg;
}

window#waybar > box {
    margin: 4px;
    background-color: @main-bg;
}
