* {
  font-family: "SpaceMono Nerd Font";
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: #313244;
}

.notification {
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(245, 194, 231, 0.8), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
  background: rgba(30, 30, 46, 0.9);
  border: 2px solid #f5c2e7;
}

.control-center {
  background: rgba(30, 30, 46, 0.95);
  border: 2px solid #f5c2e7;
  border-radius: 12px;
}

.widget-title {
  color: #f5c2e7;
  font-size: 16px;
  font-weight: bold;
}

.widget-dnd {
  background: #313244;
  border: 1px solid #f5c2e7;
  border-radius: 8px;
  padding: 8px;
  margin: 6px;
}

.widget-dnd > switch {
  background: #45475a;
}

.widget-dnd > switch:checked {
  background: #f5c2e7;
}
